<div class="container" data-model="<%= @product.class.to_s.underscore %>">
  <h2>Chỉnh sửa product</h2>

  <%= form_for(@product, url: website_product_path(website_id: params[:website_id], id: @product.id), method: :patch) do |form| %>
    <div id="error_explanation">
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :url %>
      <%= form.text_field :url, disabled: "disabled", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <% if @model.validators_on(:category_id).any? { |v| v.is_a?(ActiveRecord::Validations::PresenceValidator) } %>
      <div class="form-group">
        <%= form.label :category %>
        <%= form.select(:category_id, options_for_select(Category.generate_options(params[:website_id]), @product.category_id), {}, class: "form-control") %>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :content %>
      <%= form.rich_text_area :content , class: "rich_text_area" %>
    </div>

    <div class="form-group">
      <%= form.check_box :content_copied %>
      <%= form.label :content_copied, "Sao chép nội dung từ nguồn khác?" %>
    </div>

    <div class="form-group">
      <%= form.label :image %>
      <%= form.file_field :image, id: "inputImageProduct", class: "form-control" %>

      <div class="image-post">
        <img id="imagePost" src="<%= @product.image_url %>">
      </div>
    </div>

    <div class="button-create">
      <%= form.submit "Cập nhật", class: "btn btn-outline-primary" %>
    </div>
  <% end %>
</div>
