<div class="container">
  <h2>Tạo product</h2>

  <%= form_for(@product, url: website_products_path) do |form| %>

  <div id="error_explanation">
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.rich_text_area :content , class: "rich_text_area" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, id: "inputImageProduct", class: "form-control" %>

    <div class="image-post">
      <img id="imagePost" src="<%= @product.image_url %>">
    </div>
  </div>

  <div class="button-create">
    <%= form.submit "Tạo", class: "btn btn-outline-primary" %>
  </div>
<% end %>

<script type="text/javascript">

</script>

</div>
